<aside id="application-sidebar-brand"
    class="card-bg mx-10 hs-overlay rounded-xl hs-overlay-open:translate-x-0 -translate-x-full transform xl:block xl:translate-x-0 xl:end-auto h-[520px] z-[999] flex-shrink-0 border-[1px] w-[260px]  left-sidebar transition-all duration-300">
    <div class="scroll-sidebar" data-simplebar="">
        <div class="px-6 mt-3">
            <nav class="w-full flex flex-col sidebar-nav">
                <ul class="text-gray-600 text-sm">
                    <li class="slidebar-item my-2">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600">
                            <img src="assets/icon/home.svg" alt="Home Icon" class="w-4 h-4">
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="slidebar-item my-2">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600">
                            <img src="assets/icon/notification.svg" alt="Notifications Icon" class="w-4 h-4">
                            <span>Notifications</span>
                        </a>
                    </li>
                    <li class="slidebar-item my-2">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600">
                            <img src="assets/icon/heart.svg" alt="Shop Icon" class="w-4 h-4">
                            <span>Shop</span>
                        </a>
                    </li>
                    <li class="slidebar-item my-2">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600">
                            <img src="assets/icon/conversation.svg" alt="Conversation Icon" class="w-4 h-4">
                            <span>Conversation</span>
                        </a>
                    </li>
                    <li class="slidebar-item my-2">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600">
                            <img src="assets/icon/wallet.svg" alt="Wallet Icon" class="w-4 h-4">
                            <span>Wallet</span>
                        </a>
                    </li>
                    <li class="slidebar-item my-2">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600">
                            <img src="assets/icon/favorite.svg" alt="Subscription Icon" class="w-4 h-4">
                            <span>Subscription</span>
                        </a>
                    </li>
                    <li class="slidebar-item my-2">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600">
                            <img src="assets/icon/profile.svg" alt="Profile Icon" class="w-4 h-4">
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li class="slidebar-item my-2">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600">
                            <img src="assets/icon/setting.svg" alt="Settings Icon" class="w-4 h-4">
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="flex items-center justify-between p-2 px-2 md:p-5 mx-6 relative text-gray-600 text-sm">
        <a href="" class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600">
            <img src="assets/icon/logout.svg" alt="Logout Icon" class="w-4 h-4">
            <span>Logout</span>
        </a>
    </div>
</aside>