<aside id="application-sidebar-brand"
    class="bg-white hs-overlay hs-overlay-open:translate-x-0 -translate-x-full  transform xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed top-0 with-vertical h-screen z-[999] flex-shrink-0 border-r-[1px] w-[270px] border-gray-400 left-sidebar  transition-all duration-300">
    <!-- <div class="flex items-center justify-between p-2 px-6 md:p-5">
        <a href="" class="flex items-center">
            <img src="assets/favicon.png" class="w-12 h-12 md:w-16 md:h-16" alt="Logo">
            <span
                class="text-sm md:text-base font-bold leading-relaxed inline-block ml-2 md:ml-4 py-2 whitespace-nowrap uppercase">
                Shop Guard
            </span>
        </a>
    </div> -->
    <div class="scroll-sidebar" data-simplebar="">
        <div class="px-6 mt-2 ">
            <nav class="w-full flex flex-col sidebar-nav">
                <ul class="text-gray-600 text-sm">
                    <li class="slidebar-item">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600 ">
                            <img src="assets/img/home.svg" alt="Home Icon" class="w-4 h-4">
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="slidebar-item">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600 ">
                            <img src="assets/img/notification.svg" alt="Notifications Icon" class="w-4 h-4">
                            <span>Notifications</span>
                        </a>
                    </li>
                    <li class="slidebar-item">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600 ">
                            <img src="assets/img/heart.svg" alt="Shop Icon" class="w-4 h-4">
                            <span>Shop</span>
                        </a>
                    </li>
                    <li class="slidebar-item">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600 ">
                            <img src="assets/img/conversation.svg" alt="Conversation Icon" class="w-4 h-4 ">
                            <span>Conversation</span>
                        </a>
                    </li>
                    <li class="slidebar-item">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600 ">
                            <img src="assets/img/wallet.svg" alt="Wallet Icon" class="w-4 h-4">
                            <span>Wallet</span>
                        </a>
                    </li>
                    <li class="slidebar-item">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600 ">
                            <img src="assets/img/favorite.svg" alt="Subscription Icon" class="w-4 h-4">
                            <span>Subscription</span>
                        </a>
                    </li>
                    <li class="slidebar-item">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600 ">
                            <img src="assets/img/profile.svg" alt="Profile Icon" class="w-4 h-4">
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li class="slidebar-item">
                        <a href=""
                            class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600 ">
                            <img src="assets/img/setting.svg" alt="Settings Icon" class="w-4 h-4">
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="flex items-center justify-between p-2 px-2 md:p-5  mx-6 relative text-gray-600 text-sm">
        <a href="" class="sidebar-link gap-3 py-2 px-3 rounded-md w-full flex items-center hover:text-blue-600 ">
            <img src="assets/img/logout.svg" alt="Settings Icon" class="w-4 h-4">
            <span>Logout</span>
        </a>
    </div>
</aside>