<header class="flex justify-between py-4">
    <div class="flex items-stretch">
        <aside
            class="card-bg mx-10 hs-overlay rounded-xl hs-overlay-open:translate-x-0 -translate-x-full transform xl:block xl:translate-x-0 xl:end-auto with-vertical h-[80px] z-[999] flex-shrink-0 w-[260px] transition-all duration-300 flex justify-center items-center">
            <a href="" class="flex items-center justify-center">
                <img src="assets/favicon.png" class="w-12 h-12 md:w-16 md:h-16" alt="Logo">
                <span class="text-black md:text-base font-bold leading-relaxed inline-block uppercase ml-2">
                    Shop Guard
                </span>
            </a>
        </aside>
    </div>
    <div class="w-full page-wrapper overflow-hidden">
        <aside
            class="card-bg mx-10 hs-overlay rounded-xl hs-overlay-open:translate-x-0 -translate-x-full transform xl:block xl:translate-x-0 xl:end-auto with-vertical h-[80px] z-[999] flex-shrink-0 transition-all duration-300 flex justify-center items-center">
            <form class="w-full mx-5">
                <label for="default-search"
                    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="default-search"
                        class="block w-full p-4 pl-10 text-sm text-gray-900 border-none rounded-lg bg-main focus:ring-0 focus:outline-none dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-0 dark:focus:outline-none"
                        placeholder="Search here..." required />
                    <a href="#"
                        class="absolute right-2.5 bottom-2.5 text-black hover:text-gray-800 focus:text-gray-800 focus:outline-none flex items-center">
                        <img src="assets/img/filter.svg" alt="Filter Icon" class="w-5 h-5">
                        <span>&nbsp; Filter</span>
                    </a>
                </div>
            </form>
        </aside>
    </div>
    <div class="flex-none ml-auto">
        <aside
            class="card-bg mx-10 hs-overlay text-white min-card-bg rounded-xl hs-overlay-open:translate-x-0 -translate-x-full transform xl:block xl:translate-x-0 xl:end-auto with-vertical h-[80px] z-[999] flex-shrink-0 w-[260px] transition-all duration-300 flex justify-center items-center">
            <span>Become a Seller</span>
        </aside>
    </div>
</header>