<body class="main-bg">
    <main>
        <app-header></app-header>
        <div id="main-wrapper" class="flex justify-between">
            <div class="flex items-stretch">
                <app-navbar></app-navbar>
            </div>
            <div class="w-full page-wrapper overflow-hidden">
                <router-outlet></router-outlet>
            </div>
            <div class="flex-none ml-auto">
                <app-navbar></app-navbar>
            </div>
        </div>
    </main>
</body>
