<nav
    class="scrollbar-thumb-rounded w-52 xl:w-64 scrollbar-track-rounded hidden h-full flex-col justify-between overflow-auto bg-background pt-3 transition-all duration-300 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-card lg:flex">
    <div class="px-4">
        <div class="relative h-10 flex items-center justify-center">
            <b class="text-sm font-bold text-foreground">
                Become a seller
            </b>
        </div>

        <div class="pt-3">
            <hr class="border-dashed border-muted" />
        </div>

        <!-- <app-sidebar-menu></app-sidebar-menu> -->
        <app-tabs></app-tabs>
    </div>

    <div class="flex h-16 items-center bg-background">
        <div class="flex w-full items-center justify-between text-[10px] font-semibold ">
            <ul class="flex text-muted-foreground/50">
                <li class="hover:text-primary">
                    <a href="https://github.com/nyein2001-dev/ArtStream/issues" target="_blank" class="menu-link px-2">
                        Privacy
                    </a>
                </li>
                <li class="hover:text-primary">
                    <a href="https://github.com/nyein2001-dev/ArtStream" target="_blank" class="menu-link px-2">Terms of
                        Service</a>
                </li>
                <li class="hover:text-primary">
                    <a href="https://github.com/nyein2001-dev/ArtStream" target="_blank" class="menu-link px-2">Cookie
                        Notice</a>
                </li>
            </ul>
        </div>
    </div>
</nav>