@tailwind base;
@tailwind components;
@tailwind utilities;

.left-sidebar .scroll-sidebar {
  height: calc(100vh - 210px);
}

body {
  background-color: #f5f5f5 !important;
}

.card-bg {
  background-color: #ffffff;
}

.min-card-bg {
  background-color: #88c2bb;
}

button {
  border: none !important;
}
