<div class="hidden flex-1 md:flex items-center justify-center sm:order-3 md:mx-auto lg:mx-0">
    <div class="relative flex items-center w-full max-w-lg">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-foreground z-20">
            <svg-icon src="assets/icons/heroicons/outline/search.svg"
                [svgClass]="'h-5 w-5 text-muted-foreground'"></svg-icon>
        </div>
        <input type="search" id="default-search"
            class="block w-full p-2 pl-10 text-sm border-none rounded-lg bg-main focus:ring-0 focus:outline-none dark:focus:ring-0 dark:focus:outline-none"
            placeholder="Search here..." required />
        <a
            class="absolute right-2 flex items-center h-full cursor-pointer justify-start rounded text-muted-foreground hover:bg-card hover:text-foreground z-10">
            <svg-icon src="assets/icons/heroicons/outline/filter.svg"
                [svgClass]="'h-5 w-5 text-muted-foreground'"></svg-icon>
            <span class="ml-2 text-xs font-semibold truncate text-muted-foreground">Filter</span>
        </a>
    </div>
</div>